.card{
  width: 400px;
}
.imagem-gato{
  width:60px;
  height: 60px;
  object-fit: cover;
  border-radius:30px;
  margin-right:10px;
}

.topo {
  display: flex;
  align-items: center;
  
}

.titulo{
  margin:2px;
  font-family: Arial;
  font-weight: bold;
}

.span1{
  color: rgb(158, 153, 146);
  font-weight: 100px;
}
.mensagem{
  margin:0px
}

.foot{
  display: flex;
  box-shadow: 0 0 0,5 black;
}
.retangulo{
  width: 50px;
  height: 50px;
  background-color: rgb(168, 172, 175);
  margin-left: 80px;
  margin-top: 10px;
}