body { 
    margin-bottom: 2000px ;
}
.p1{
    margin-bottom: 5px;
}



.paragrafo{ 
    display: inline-block;
    width: 200px;  
    vertical-align: middle;

    
}
.teste2{
    display: inline-block;
  
 
}

.pai {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.foto-google{
    width: 150px;
}

.input{ 
    width: 500px;
    border: none;    
    border-radius: 100px;
    border-color: rgb(231, 219, 219);
    box-shadow: 0px 0px 5px rgb(202, 199, 199);
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
 }

 .red-square{ 
     display: inline-block;
     margin-top: 30px;
     background-color: red;
     width: 100px;
     height: 100px
 }

 .green-circle{
     display: inline-block;
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50px
 }